SDR - UAZAPI - PROD.json
{
  "name": "SDR - UAZAPI - PROD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "maite",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3184,
        -1200
      ],
      "id": "62888afa-99ee-41e6-a149-0b4f5d98b8d1",
      "name": "Webhook",
      "webhookId": "240b36f9-9d6d-4946-864b-8b681f3ec906"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id_msg",
              "name": "id_mensagem",
              "value": "={{ $json.messageid || $json.id || $json.body?.message?.id || '' }}",
              "type": "string"
            },
            {
              "id": "tel",
              "name": "telefone",
              "value": "={{ ($json.sender_pn || $json.body?.chat?.phone || '').toString().replace('@s.whatsapp.net', '').replace('@c.us', '') }}",
              "type": "string"
            },
            {
              "id": "msg",
              "name": "mensagem",
              "value": "={{ $json.text || $json.body?.message?.text || '' }}",
              "type": "string"
            },
            {
              "id": "ts",
              "name": "timestamp",
              "value": "={{ $json.messageTimestamp || $json.body?.message?.messageTimestamp || Date.now() }}",
              "type": "number"
            },
            {
              "id": "from_me",
              "name": "fromMe",
              "value": "={{ $json.wasSentByApi === true || $json.body?.message?.fromMe === true }}",
              "type": "boolean"
            },
            {
              "id": "is_group",
              "name": "mensagem_de_grupo",
              "value": "={{ $json.isGroup === true || $json.body?.chat?.wa_isGroup === true }}",
              "type": "boolean"
            },
            {
              "id": "is_audio",
              "name": "mensagem_de_audio",
              "value": "={{ (() => {\n  const audioTypes = ['audio', 'ptt', 'ptv', 'voice'];\n  const asLower = (value) => (value || '').toString().toLowerCase();\n\n  const candidates = [\n    $json.mediaType,\n    $json.type,\n    $json.messageType,\n    $json.message?.mediaType,\n    $json.message?.type,\n    $json.message?.messageType,\n    $json.body?.message?.mediaType,\n    $json.body?.message?.type,\n    $json.body?.message?.messageType\n  ].map(asLower);\n\n  return candidates.some(value => audioTypes.includes(value) || value.includes('audio'));\n})() }}",
              "type": "boolean"
            },
            {
              "id": "subscriber",
              "name": "subscriber_id",
              "value": "clinicorp",
              "type": "string"
            },
            {
              "id": "code",
              "name": "code_link",
              "value": "teste",
              "type": "string"
            },
            {
              "id": "business",
              "name": "business_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "conversa",
              "name": "id_conversa",
              "value": "={{ $json.id || $json.body?.chat?.wa_fastid || '' }}",
              "type": "string"
            },
            {
              "id": "chatid",
              "name": "wa_chatid",
              "value": "={{ $json.sender_pn || $json.chatid || $json.body?.chat?.wa_chatid || '' }}",
              "type": "string"
            },
            {
              "id": "telegram",
              "name": "telegram_chat_id",
              "value": "-1002525748016",
              "type": "string"
            },
            {
              "id": "baseurl",
              "name": "BaseUrl",
              "value": "={{ $json.BaseUrl || $json.body?.BaseUrl || 'https://somoswin.uazapi.com' }}",
              "type": "string"
            },
            {
              "id": "token",
              "name": "token",
              "value": "={{ $json.token || $json.body?.token || '' }}",
              "type": "string"
            },
            {
              "id": "instance",
              "name": "instancia",
              "value": "={{ $json.owner || $json.body?.instanceName || '' }}",
              "type": "string"
            },
            {
              "id": "api_local",
              "name": "api_local_url",
              "value": "http://72.60.137.139:5000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2784,
        -1200
      ],
      "id": "de7ef960-370d-4800-91b6-17d8b08bd5f3",
      "name": "Extrair Dados"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.mensagem_de_audio }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2584,
        -1200
      ],
      "id": "a42d98ce-7d73-4c75-9c1c-4a5bd7772dda",
      "name": "Verificar Áudio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ((($json.BaseUrl || 'https://free.uazapi.com').toString()).replace(/\\/$/, '')) + '/message/download' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "={{ ($json.token || '').toString() }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": {{ JSON.stringify(($json.id_mensagem || $json.id_msg || '').toString()) }},\n  \"transcribe\": true,\n  \"generate_mp3\": true,\n  \"return_link\": true,\n  \"return_base64\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2184,
        -1360
      ],
      "id": "f9675e9d-0f19-489d-9548-1340b7f0e5fd",
      "name": "Baixar Áudio",
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.fileURL || $json.file_url || '' }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1984,
        -1360
      ],
      "id": "download-audio-file-node",
      "name": "Baixar Arquivo Audio",
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1884,
        -1360
      ],
      "id": "whisper-transcription-node",
      "name": "Transcrever Whisper",
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "ivx32fXd91n6WkDT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const original = $('Extrair Dados').item?.json || {};\nconst downloadData = $('Baixar Áudio').first()?.json || {};\nconst whisperData = $input.first()?.json || {};\n\nlet mensagem = (original.mensagem || '').toString().trim();\n\n// Prioridade: 1) Whisper, 2) Transcrição do UAZAPI, 3) Fallback\nconst whisperTranscription = (whisperData.text || '').toString().trim();\nconst uazapiTranscription = (downloadData.transcription || '').toString().trim();\nconst transcricao = whisperTranscription || uazapiTranscription;\n\nif (!mensagem && transcricao) {\n  mensagem = transcricao;\n}\n\nif (!mensagem) {\n  const fileURL = (downloadData.fileURL || '').toString().trim();\n  mensagem = fileURL ? `Áudio recebido: ${fileURL}` : '[Áudio recebido]';\n}\n\nreturn {\n  ...original,\n  mensagem,\n  audio_file_url: (downloadData.fileURL || '').toString().trim(),\n  audio_mimetype: (downloadData.mimetype || '').toString().trim(),\n  audio_transcription: transcricao,\n  whisper_transcription: whisperTranscription,\n  uazapi_transcription: uazapiTranscription\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1684,
        -1360
      ],
      "id": "b1f5c3c6-a536-4c28-aa36-63947a3cb451",
      "name": "Aplicar Transcrição"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not_from_me",
              "leftValue": "={{ $json.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            },
            {
              "id": "not_group",
              "leftValue": "={{ $json.mensagem_de_grupo }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            },
            {
              "id": "has_text",
              "leftValue": "={{ $json.mensagem }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "has_phone",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -2384,
        -1200
      ],
      "id": "e681ae99-0a66-4e98-a47d-6e147aacf903",
      "name": "Filtrar Mensagens"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ ($json.telefone && $json.telefone.toString().trim()) ? `SELECT message FROM n8n_chat_histories WHERE session_id = '${$json.telefone.toString().trim()}' ORDER BY created_at DESC LIMIT 10` : 'SELECT NULL as message WHERE false' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1984,
        -1200
      ],
      "id": "d27f7e8a-23cc-4f84-a24f-0681f7f4e09c",
      "name": "Buscar Histórico",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "SFdqGBd62rWQz4UH",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const previousData = $('Filtrar Mensagens').first()?.json || {};\nconst historyItems = $input.all();\n\nlet historyText = '';\nlet jaMostrouDias = false;\nif (historyItems.length > 0) {\n  historyText = '\\n\\nHISTÓRICO_DA_CONVERSA:\\n';\n  historyItems.forEach((item, idx) => {\n    try {\n      const msg = item.json.message;\n      if (typeof msg === 'string') {\n        const parsed = JSON.parse(msg);\n        if (parsed.content) {\n          const content = parsed.content.toLowerCase();\n          historyText += `[${idx + 1}] ${parsed.type === 'human' ? 'Cliente' : 'Lis'}: ${parsed.content}\\n`;\n          if (parsed.type === 'ai' && (content.includes('dias disponíveis') || content.includes('qual data você prefere') || content.includes('encontrei') || content.includes('profissionais'))) {\n            jaMostrouDias = true;\n          }\n        }\n      }\n    } catch (e) {}\n  });\n}\n\nreturn {\n  ...previousData,\n  history_text: historyText,\n  history_count: historyItems.length,\n  ja_mostrou_dias: jaMostrouDias\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        -1200
      ],
      "id": "85001182-398a-46d3-95be-d20778d8bc25",
      "name": "Preparar Histórico"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ ($json.telefone && $json.telefone.toString().trim()) ? `SELECT id, content, metadata, embedding FROM public.documents WHERE metadata->>'telefone' = '${$json.telefone.toString().trim()}' LIMIT 3` : 'SELECT NULL as id, NULL as content, NULL as metadata, NULL as embedding WHERE false' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1184,
        -1200
      ],
      "id": "5c23b442-08c5-4632-9631-774b1389f7dc",
      "name": "Buscar RAG Context",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "SFdqGBd62rWQz4UH",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const previousNodeData = $('Preparar Histórico').first()?.json || {};\nconst items = $input.all();\nconst ragDocs = items.filter(item => item.json && item.json.content && item.json.id);\n\nlet ragContext = '';\nlet nomePaciente = '';\nlet pacienteId = '';\n\n// Busca nome e ID do paciente nos documentos RAG\nif (ragDocs.length > 0) {\n  ragContext = '\\n\\nCONTEXTO_CLIENTE:\\n';\n  ragDocs.forEach((doc, idx) => {\n    if (doc.json && doc.json.content) {\n      // Verifica se é informação de paciente (nome)\n      if (doc.json.metadata && doc.json.metadata.tipo === 'paciente_info') {\n        nomePaciente = doc.json.content || doc.json.metadata.nome || '';\n        pacienteId = doc.json.metadata.paciente_id || '';\n      } else {\n        ragContext += `[${idx + 1}] ${doc.json.content}\\n`;\n      }\n    }\n  });\n}\n\nconst contextData = {\n  telefone: (previousNodeData.telefone || '').toString().trim(),\n  mensagem: (previousNodeData.mensagem || '').toString().trim(),\n  id_mensagem: (previousNodeData.id_mensagem || '').toString().trim(),\n  timestamp: previousNodeData.timestamp || Date.now(),\n  fromMe: Boolean(previousNodeData.fromMe || false),\n  mensagem_de_grupo: Boolean(previousNodeData.mensagem_de_grupo || false),\n  mensagem_de_audio: Boolean(previousNodeData.mensagem_de_audio || false),\n  subscriber_id: (previousNodeData.subscriber_id || 'clinicorp').toString().trim(),\n  code_link: (previousNodeData.code_link || 'teste').toString().trim(),\n  business_id: (previousNodeData.business_id || '').toString().trim(),\n  id_conversa: (previousNodeData.id_conversa || '').toString().trim(),\n  wa_chatid: (previousNodeData.wa_chatid || '').toString().trim(),\n  telegram_chat_id: (previousNodeData.telegram_chat_id || '-1002525748016').toString().trim(),\n  BaseUrl: (previousNodeData.BaseUrl || '').toString().trim(),\n  token: (previousNodeData.token || '').toString().trim(),\n  instancia: (previousNodeData.instancia || '').toString().trim(),\n  api_local_url: (previousNodeData.api_local_url || 'http://72.60.137.139:5000').toString().trim(),\n  rag_context: ragContext,\n  rag_empty: ragDocs.length === 0,\n  history_text: (previousNodeData.history_text || '').toString(),\n  history_count: previousNodeData.history_count || 0,\n  nome_paciente: nomePaciente,\n  paciente_id: pacienteId.toString().trim()\n};\n\n// Armazenar no customData para uso nas ferramentas\n$execution.customData.set('telefone', contextData.telefone);\n$execution.customData.set('nome_paciente', contextData.nome_paciente);\n$execution.customData.set('subscriber_id', contextData.subscriber_id);\n$execution.customData.set('code_link', contextData.code_link);\n$execution.customData.set('business_id', contextData.business_id);\n$execution.customData.set('id_conversa', contextData.id_conversa);\n$execution.customData.set('telegram_chat_id', contextData.telegram_chat_id);\n$execution.customData.set('BaseUrl', contextData.BaseUrl);\n$execution.customData.set('token', contextData.token);\n$execution.customData.set('api_local_url', contextData.api_local_url);\n\nreturn contextData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        -1200
      ],
      "id": "5f7a27d6-03ae-49f0-8a81-c90c16e9334d",
      "name": "Preparar Contexto"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "={{ 'HOJE: ' + $now.format('YYYY-MM-DD HH:mm') + String.fromCharCode(10) + String.fromCharCode(10) + 'telefone: ' + ($json.telefone || '').toString() + String.fromCharCode(10) + 'nome_paciente: ' + ($json.nome_paciente || '').toString() + String.fromCharCode(10) + 'paciente_id_clinicorp: ' + ($json.paciente_id || '').toString() + String.fromCharCode(10) + 'id_conversa: ' + ($json.id_conversa || '').toString() + String.fromCharCode(10) + 'subscriber_id: ' + ($json.subscriber_id || 'clinicorp').toString() + String.fromCharCode(10) + 'code_link: ' + ($json.code_link || 'teste').toString() + String.fromCharCode(10) + 'business_id: ' + ($json.business_id || '').toString() + String.fromCharCode(10) + ($json.history_text || '').toString() + ($json.rag_context || '').toString() }}\n\nVocê é a Lis, atendente do WhatsApp da Clínica Essenciallis.\n\nCOLETA DE NOME - REGRA IMPORTANTE:\n\nIMPORTANTE: Você DEVE coletar o nome completo do cliente ANTES de criar qualquer agendamento.\n\n- Se nome_paciente estiver vazio ou não informado, você DEVE perguntar: \"Para começar, por favor, me diga seu nome completo para que eu possa ajudar você da melhor forma.\"\n- Quando o cliente informar o nome (ex: \"Gustavo\", \"Maria Silva\", \"João Pedro Santos\"), use IMEDIATAMENTE a ferramenta Salvar_nome_paciente SILENCIOSAMENTE (sem mencionar ao cliente).\n- Após usar Salvar_nome_paciente, responda de forma NATURAL usando o nome do cliente, SEM mencionar que salvou ou processou algo. Exemplo: \"Ótimo, Gustavo! Como posso ajudar você hoje?\"\n- NÃO mencione termos técnicos como \"salvar\", \"salvo\", \"processado\", \"registrado\", \"armazenado\".\n- NÃO crie agendamento sem ter o nome do cliente salvo.\n- Se já tiver nome_paciente informado, use-o naturalmente na conversa (ex: \"Olá Gustavo!\").\n\nPRIMEIRA MENSAGEM - REGRA OBRIGATÓRIA:\n\nQuando cliente enviar mensagens simples como \"oi\", \"olá\", \"bom dia\", \"boa tarde\" e NÃO houver histórico de conversa anterior (history_text vazio ou muito curto), você DEVE SEMPRE responder com esta mensagem EXATA:\n\n\"Bem-vindo(a) à Essenciallis! Sou a Lis e estou aqui para te ajudar a encontrar o melhor procedimento para você. Para começar, por favor, me diga seu nome completo para que eu possa ajudar você da melhor forma. Também posso tirar dúvidas ou ajudar a agendar uma consulta. Como posso ajudar hoje?\"\n\nCOMO DETECTAR PRIMEIRA MENSAGEM:\n- Cliente diz apenas: \"oi\", \"olá\", \"bom dia\", \"boa tarde\", \"bom dia\", \"oi tudo bem\"\n- E não há histórico de conversa anterior (history_count = 0 ou history_text vazio)\n- Neste caso, SEMPRE use a mensagem de boas-vindas completa\n\nREGRAS CRÍTICAS:\n- NUNCA use mensagens genéricas como \"Olá! Como posso ajudar você hoje?\" ou \"Oi! Tudo bem?\"\n- NUNCA use apenas \"Olá! Como posso ajudar?\"\n- SEMPRE use a mensagem de boas-vindas completa acima quando for primeira interação\n- Seja acolhedora, mas direta\n- Ofereça sempre as duas opções: agendamento ou dúvidas\n- Esta é a ÚNICA mensagem permitida para primeira interação\n- SEMPRE peça o nome completo na primeira mensagem\n\nSe cliente já interagiu antes (há histórico de conversa) e está continuando, você pode ser mais direta, mas na primeira mensagem SEMPRE use a mensagem de boas-vindas completa.\n\nREGRAS GERAIS:\n- Mensagens curtas e naturais (máximo 150 tokens)\n- Tom acolhedor e humano\n- Sempre conduza para agendamento após responder dúvidas\n- Não diga que é assistente virtual ou bot\n- NUNCA use \"Olá! Como posso ajudar você hoje?\" ou variações genéricas\n- Para primeira mensagem (quando cliente diz apenas \"oi\", \"olá\"), SEMPRE use a mensagem de boas-vindas completa\n- SEMPRE colete o nome completo antes de criar agendamento\n- Quando cliente informar o nome, responda naturalmente usando o nome dele. Exemplos: \"Ótimo, Gustavo! Como posso ajudar?\" ou \"Perfeito, Maria! Você gostaria de agendar uma consulta?\"\n- NUNCA mencione termos técnicos como \"salvar\", \"salvo\", \"processado\", \"registrado\", \"armazenado\", \"dados\", \"sistema\", \"banco de dados\"\n- Se houver erro ao salvar o nome, NÃO mencione o erro técnico. Apenas continue a conversa naturalmente\n\nAGENDAMENTO - FLUXO NATURAL:\n\nPASSO 1 - Cliente pede agendamento:\nQuando cliente mencionar: \"agendar\", \"agenda\", \"agendamento\", \"consulta\", \"horário\", \"disponível\", \"marcar\", \"marcação\", \"quero\", \"preciso\":\n\nPergunte de forma natural: \"Qual seria o melhor período ou horário para você?\"\n\nPASSO 1B - Cliente menciona data específica:\nSe cliente mencionar data junto com pedido de agendamento (\"agendar amanhã\", \"consulta segunda\", \"hoje\", \"amanhã\"):\n1. Identifique a data mencionada\n2. Pergunte: \"Qual período você prefere? Manhã, tarde ou noite?\"\n3. Aguarde resposta sobre período\n\nPASSO 2 - Cliente informa preferência:\nCliente pode responder: \"manhã\", \"tarde\", \"noite\", \"início da manhã\", \"fim da tarde\", horário específico como \"10h\", \"14h\", ou data como \"amanhã\", \"segunda-feira\", etc.\n\nPASSO 3 - Buscar disponibilidade:\n1. Se cliente mencionou data específica (amanhã, segunda, etc), converta para formato YYYY-MM-DD\n2. Se não mencionou data, use amanhã como padrão\n3. Use Buscar_agendas_disponiveis com parâmetro data (YYYY-MM-DD)\n4. Aguarde resultado antes de filtrar horários\n\nPASSO 4 - Filtrar e sugerir horários:\n\nIMPORTANTE: NÃO mostre todos os horários de uma vez. Filtre baseado na preferência do cliente e apresente de forma NATURAL e CONVERSACIONAL:\n\n- Se cliente disse \"manhã\": filtre horários das 10h às 12h\n- Se cliente disse \"tarde\": filtre horários das 14h às 17h\n- Se cliente disse \"noite\": filtre horários das 17h às 20h\n- Se cliente disse horário específico (ex: \"10h\"): mostre horários próximos\n- Se não especificou período: mostre horários variados representando manhã, tarde e noite\n\nFormato de apresentação NATURAL (SEJA CONVERSACIONAL):\n\nExemplo 1 - Poucos horários disponíveis:\n\"Temos disponibilidade [DATA] às [10:00] e às [11:00]. Qual horário se encaixa melhor para você?\"\n\nExemplo 2 - Vários horários no mesmo período:\n\"Temos disponibilidade [DATA] das [10:00] até às [11:30]. Qual horário se encaixa melhor para você?\"\n\nExemplo 3 - Horários variados:\n\"Temos disponibilidade [DATA] às [10:00], às [14:00] e às [17:00]. Qual desses horários funciona melhor?\"\n\nREGRAS:\n- Seja natural: \"temos disponibilidade das X até às Y\" ou \"às X e às Y\"\n- NÃO liste todos os horários individuais\n- NÃO mencione nomes de profissionais\n- Apresente de forma fluida e conversacional\n- Pergunte sempre: \"Qual horário se encaixa melhor para você?\" ou \"Qual desses horários funciona melhor?\"\n\nNÃO faça:\n- Listar todos os profissionais\n- Mostrar formato [10:00] [10:30] [11:00] como lista\n- Ser robótico ou formal\n\nPASSO 5 - Cliente escolhe horário:\nQuando cliente escolher um horário específico (ex: \"10:00\", \"às 10h\", \"o das 14:30\"):\n\n1. Repita o horário escolhido: \"Perfeito! Então seria [DATA] às [HORA], correto?\"\n2. Pergunte antes de confirmar: \"Posso confirmar esse horário para você?\"\n3. Aguarde confirmação do cliente (\"sim\", \"pode\", \"confirmar\", \"ok\")\n\nPASSO 6 - Criar agendamento:\\nApós cliente confirmar:\\n1. PRIMEIRO use Criar_paciente_clinicorp com o nome do cliente para obter o paciente_id\\n2. DEPOIS use Criar_agendamento_local com: paciente_id (do passo anterior), profissional_id, data, hora_inicio, hora_fim\\n3. Após sucesso, confirme: \\\"Perfeito! Agendamento confirmado para [DATA] às [HORA]. Te espero aqui na Essenciallis!\\\"\\n4. Se houver erro, peça desculpas e sugira outro horário\\n\\nIMPORTANTE: NUNCA tente criar agendamento sem antes usar Criar_paciente_clinicorp!\n\nIMPORTANTE:\n- Se não houver horários no período desejado, sugira data mais próxima com horários disponíveis\n- Sempre pergunte antes de confirmar: \"Posso confirmar esse horário para você?\"\n- Seja natural e conversacional, não robótico\n\nPROCEDIMENTOS:\n\nResponda de forma BREVE (2-3 linhas) sobre procedimentos principais:\n\nFACIAIS: Botox, Preenchimento labial/olheiras/malar, Rinomodelação, Microagulhamento, Peeling retinóico, Laser Lavieen, Herus HIFU 4D, Bioestimulador de colágeno, Limpeza de pele Premium\n\nCORPORAIS: Harmonização de glúteos, Criolipólise, Radiofrequência, Enzimas para gordura localizada, Drenagem linfática\n\nPROTOCOLOS: Skin Code Essence, Sculpt CrioEssence, Slim Shape Essenciallis, Harmony Essence\n\nApós explicar procedimento, SEMPRE ofereça: \"Quer agendar uma avaliação para conhecer melhor?\"\n\nVALORES:\nNÃO informe valores. Use Escalar_humano imediatamente e diga: \"Para valores e condições, vou conectar você com nossa equipe especializada.\"\n\nCLÍNICA:\nEndereço: R. Gen. Eurico Gaspar Dutra, 916 - Estreito, Florianópolis - SC\nTelefone: (48) 3771-1010\nHorário: Segunda a Sexta, 10h às 20h\nFechado: Sábados, Domingos e Feriados\n\nFORMAS DE PAGAMENTO: Pix/dinheiro, Cartão de crédito (sem juros), Boleto (com juros)\n\nFERRAMENTAS:\n- Salvar_nome_paciente: Use IMEDIATAMENTE quando cliente informar seu nome completo. Parâmetro: nome (nome completo do paciente). IMPORTANTE: Use SILENCIOSAMENTE - NÃO mencione ao cliente que está salvando. Apenas responda naturalmente usando o nome dele.\n- Buscar_profissionais_disponiveis: Use SEM PARÂMETROS quando cliente pedir agendamento\n- Buscar_agendas_disponiveis: Parâmetro data (YYYY-MM-DD) - use após cliente escolher data\n- Criar_agendamento_local: Parâmetros: profissional_id, data, hora_inicio, hora_fim (NÃO use sem ter o nome do cliente salvo)\n- Buscar_eventos_agenda: Lista agendamentos existentes\n- Escalar_humano: Use para valores, urgências ou insatisfação\n\nIMPORTANTE:\n- Use as ferramentas de forma direta, sem loops\n- Após usar ferramenta, apresente resultado e aguarde resposta do cliente\n- Não repita a mesma ferramenta sem necessidade\n- Seja objetivo e eficiente\n- SEMPRE salve o nome do cliente quando ele informar usando Salvar_nome_paciente, mas NÃO mencione isso ao cliente\n- NÃO crie agendamento sem ter o nome do cliente salvo\n- NUNCA mencione termos técnicos como \"salvar\", \"salvo\", \"processado\", \"registrado\", \"armazenado\" ao cliente\n- Seja natural e conversacional - use o nome do cliente normalmente sem mencionar processos técnicos"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -384,
        -1200
      ],
      "id": "86d0bad0-4ac1-4b38-9ce0-9cab01a0fba6",
      "name": "Agente Lis",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 300,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        -992
      ],
      "id": "8dbde339-af98-459b-9d10-2c9542f9a8cc",
      "name": "OpenAI Model",
      "credentials": {
        "openAiApi": {
          "id": "ivx32fXd91n6WkDT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ ($('Extrair Dados').item.json.telefone || '').toString() }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -176,
        -800
      ],
      "id": "c01c3ac5-38d5-480d-8371-7fb8f7422c0a",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extrair Dados').item.json.telefone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -176,
        -592
      ],
      "id": "a1d426d7-9689-48f1-b992-c8dcfa364acb",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "SFdqGBd62rWQz4UH",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Busca profissionais disponíveis com suas agendas. Use IMEDIATAMENTE quando cliente pedir agendamento ou verificar disponibilidade.\n\nRetorna lista de profissionais com:\n- id: ID NUMÉRICO LONGO do profissional (ex: 6213405038936064) - GUARDE ESTE ID para usar em Criar_agendamento_local\n- nome: Nome do profissional\n- agendas_por_dia: Horários disponíveis por dia\n\n**IMPORTANTE:** O campo 'id' retornado DEVE ser usado como profissional_id ao criar agendamento.\n\n**COMO USAR:** Chame SEM PARÂMETROS quando detectar pedido de agendamento.",
        "url": "http://72.60.137.139:5000/api/agenda/profissionais",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "com_agendas"
            },
            {
              "name": "dias_futuros"
            },
            {
              "name": "hora_inicio"
            },
            {
              "name": "hora_fim"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Accept"
            },
            {
              "name": "Content-Type"
            },
            {
              "name": "ngrok-skip-browser-warning"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        48,
        -992
      ],
      "id": "0c500937-851f-4ea9-97dc-f903f8683d05",
      "name": "Buscar_profissionais_disponiveis"
    },
    {
      "parameters": {
        "toolDescription": "Busca horários disponíveis para uma data específica.\n\nParâmetros:\n- data: Data no formato YYYY-MM-DD (OBRIGATÓRIO)\n\nUse após o cliente escolher uma data.",
        "url": "http://72.60.137.139:5000/api/agenda/disponiveis",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "data"
            },
            {
              "name": "hora_inicio"
            },
            {
              "name": "hora_fim"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Accept"
            },
            {
              "name": "Content-Type"
            },
            {
              "name": "ngrok-skip-browser-warning"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "data",
              "description": "Data no formato YYYY-MM-DD"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        48,
        -800
      ],
      "id": "30351c7a-9314-47b7-a18b-99f0bce0b33a",
      "name": "Buscar_agendas_disponiveis"
    },
    {
      "parameters": {
        "toolDescription": "Cria um novo agendamento via API local.\n\nFLUXO OBRIGATÓRIO ANTES DE USAR:\n1. Salvar_nome_paciente - Salvar o nome do cliente\n2. Criar_paciente_clinicorp - Criar/buscar paciente no Clinicorp (retorna paciente_id)\n3. Buscar_profissionais_disponiveis - Obter profissional_id\n4. SÓ ENTÃO usar esta ferramenta com os IDs obtidos\n\nParâmetros OBRIGATÓRIOS:\n- paciente_id: ID do paciente retornado por Criar_paciente_clinicorp\n- profissional_id: ID NUMÉRICO LONGO do profissional (ex: 6213405038936064)\n- data: Data no formato YYYY-MM-DD\n- hora_inicio: Hora de início no formato HH:MM (ex: 10:00)\n- hora_fim: Hora de fim no formato HH:MM (ex: 11:00)\n\nNUNCA tente criar agendamento sem ter o paciente_id do Clinicorp!",
        "method": "POST",
        "url": "http://72.60.137.139:5000/api/agenda/criar",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Accept"
            },
            {
              "name": "Content-Type"
            },
            {
              "name": "ngrok-skip-browser-warning"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"paciente_id\": \"{paciente_id}\", \"profissional_id\": \"{profissional_id}\", \"data\": \"{data}\", \"hora_inicio\": \"{hora_inicio}\", \"hora_fim\": \"{hora_fim}\", \"observacoes\": \"Agendamento via WhatsApp\", \"telefone\": \"{{ $execution.customData.get('telefone') || '' }}\"}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "paciente_id",
              "description": "ID do paciente retornado por Criar_paciente_clinicorp (OBRIGATÓRIO)"
            },
            {
              "name": "profissional_id",
              "description": "ID do profissional escolhido"
            },
            {
              "name": "data",
              "description": "Data no formato YYYY-MM-DD"
            },
            {
              "name": "hora_inicio",
              "description": "Hora de início no formato HH:MM (ex: 10:00)"
            },
            {
              "name": "hora_fim",
              "description": "Hora de fim no formato HH:MM (ex: 11:00)"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        48,
        -592
      ],
      "id": "9a751444-d684-46c4-b3cc-d56ddd7d4d81",
      "name": "Criar_agendamento_local"
    },
    {
      "parameters": {
        "toolDescription": "Cancela (deleta) um agendamento existente no Clinicorp.\n\nUSE ESTA FERRAMENTA APENAS APÓS CONFIRMAR COM O CLIENTE QUE ELE DESEJA CANCELAR O HORÁRIO.\n\nParâmetros OBRIGATÓRIOS:\n- id: ID do agendamento no Clinicorp (campo id retornado pela API de criação ou pelas ferramentas de busca de agendamentos).\n\nCOMO USAR:\n1. Confirme com o cliente qual agendamento deseja cancelar (data, hora, profissional).\n2. Use uma ferramenta de busca de agendamentos (ex: Buscar_eventos_agenda ou Buscar_agendamentos_paciente) para obter o ID exato.\n3. Chame esta ferramenta passando o id correto.\n4. Se sucesso=true, avise o cliente que o agendamento foi cancelado.",
        "method": "POST",
        "url": "http://72.60.137.139:5000/api/agenda/deletar",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Accept"
            },
            {
              "name": "Content-Type"
            },
            {
              "name": "ngrok-skip-browser-warning"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"id\": \"{id}\"}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "id",
              "description": "ID do agendamento no Clinicorp a ser cancelado"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        48,
        -496
      ],
      "id": "cancelar-agendamento-clinicorp-tool",
      "name": "Cancelar_agendamento_clinicorp"
    },
    {
      "parameters": {
        "toolDescription": "Força uma sincronização manual da agenda com o Clinicorp. Use quando precisar atualizar os dados da agenda ou quando os dados parecerem desatualizados.",
        "method": "POST",
        "url": "http://72.60.137.139:5000/api/agenda/sync",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Accept"
            },
            {
              "name": "Content-Type"
            },
            {
              "name": "ngrok-skip-browser-warning"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        48,
        -400
      ],
      "id": "3a02bc42-4de3-44d7-9b47-7dc3e0f49b75",
      "name": "Sincronizar_agenda"
    },
    {
      "parameters": {
        "toolDescription": "Busca eventos da agenda. Retorna lista de agendamentos existentes.\n\nParâmetros opcionais:\n- ocupado: boolean - Filtrar por ocupado/livre\n- data_inicio: string - Data inicial ISO\n- data_fim: string - Data final ISO\n- profissional_id: string - Filtrar por profissional\n- limit: number - Limite de resultados (padrão: 50)",
        "url": "http://72.60.137.139:5000/api/agenda/eventos",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "limit"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Accept"
            },
            {
              "name": "Content-Type"
            },
            {
              "name": "ngrok-skip-browser-warning"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        48,
        -192
      ],
      "id": "2444d491-5c08-4768-8b36-feb50bece8d4",
      "name": "Buscar_eventos_agenda"
    },
    {
      "parameters": {
        "toolDescription": "Busca agendamentos futuros do paciente pelo telefone. Use quando cliente já é conhecido para mostrar seus agendamentos.\n\nO que faz:\n- Busca todos os agendamentos futuros do paciente\n- Retorna data, hora, procedimento e profissional\n- Mostra até 5 agendamentos mais próximos\n\nNÃO requer parâmetros - usa o telefone automaticamente.\n\nUSO: Quando cliente diz 'quero ver meus agendamentos' ou 'tenho agendamento?'",
        "url": "http://72.60.137.139:5000/api/paciente/agendamentos",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "telefone",
              "description": "Telefone do paciente (incluído automaticamente)"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Accept"
            },
            {
              "name": "Content-Type"
            },
            {
              "name": "ngrok-skip-browser-warning"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        48,
        -100
      ],
      "id": "3b03cd43-5ef4-44e7-9c48-8ec3e0f49b76",
      "name": "Buscar_agendamentos_paciente"
    },
    {
      "parameters": {
        "toolDescription": "Salva o nome completo do paciente no banco de dados local. Use IMEDIATAMENTE quando o cliente informar seu nome.\n\nIMPORTANTE:\n1. Use esta ferramenta SILENCIOSAMENTE - NÃO mencione ao cliente que está salvando\n2. Capture o NOME COMPLETO (nome + sobrenome) - NUNCA apenas o primeiro nome\n3. Se cliente disse 'meu nome é Gustavo Prezzoti', salve 'Gustavo Prezzoti' (COMPLETO)\n4. DEPOIS de salvar o nome, quando for criar agendamento, use Criar_paciente_clinicorp\n\nParâmetros OBRIGATÓRIOS:\n- nome: Nome COMPLETO do paciente incluindo sobrenome(s)\n\nO telefone é incluído automaticamente.",
        "method": "POST",
        "url": "http://72.60.137.139:5000/api/paciente/salvar-nome",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Accept"
            },
            {
              "name": "Content-Type"
            },
            {
              "name": "ngrok-skip-browser-warning"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"telefone\": \"{{ $execution.customData.get('telefone') || '' }}\", \"nome\": \"{nome}\", \"mensagem\": \"{{ $json.mensagem || '' }}\"}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "nome",
              "description": "Nome COMPLETO do paciente com sobrenome (ex: 'Gustavo Prezzoti', 'Maria Silva Santos')"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        48,
        16
      ],
      "id": "60727879-7e65-490a-854b-18b0a5af840d",
      "name": "Salvar_nome_paciente"
    },
    {
      "parameters": {
        "toolDescription": "Cria ou busca paciente no Clinicorp. OBRIGATÓRIO antes de criar agendamento!\n\nUSE ESTA FERRAMENTA:\n1. DEPOIS de salvar o nome com Salvar_nome_paciente\n2. ANTES de criar agendamento com Criar_agendamento_local\n\nO que faz:\n- Busca se o paciente já existe no Clinicorp pelo telefone\n- Se não existir, cria um novo paciente\n- Retorna o paciente_id que DEVE ser usado em Criar_agendamento_local\n\nParâmetros OBRIGATÓRIOS:\n- nome: Nome COMPLETO do paciente\n\nO telefone é incluído automaticamente.\n\nRETORNO: { sucesso: true, paciente: { id: 'XXXXX', nome: '...' } }\nGUARDE o paciente.id para usar em Criar_agendamento_local!",
        "method": "POST",
        "url": "http://72.60.137.139:5000/api/paciente/criar",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Accept"
            },
            {
              "name": "Content-Type"
            },
            {
              "name": "ngrok-skip-browser-warning"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"telefone\": \"{{ $execution.customData.get('telefone') || '' }}\", \"nome\": \"{nome}\"}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "nome",
              "description": "Nome COMPLETO do paciente (ex: 'Gustavo Prezzoti')"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        248,
        16
      ],
      "id": "criar-paciente-clinicorp-tool",
      "name": "Criar_paciente_clinicorp"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Escala para atendimento humano quando necessário.\n\nUse quando:\n- Urgência médica\n- Insatisfação do cliente\n- Assuntos fora do escopo\n- Pedido de atendimento humano\n- Dúvidas sobre valores\n\nFormato da mensagem:\nUsuário <nome> (<telefone>) precisa de atenção imediata.\n\nÚltima mensagem:\n---\n<mensagem>",
        "chatId": "={{ ($execution.customData.get('telegram_chat_id') || '-1002525748016').toString() }}",
        "text": "={{ (() => { try { return (($fromAI('Text', 'Mensagem de escalação', 'string') || '').toString()).trim(); } catch(e) { return 'Escalação necessária - Telefone: ' + ($execution.customData.get('telefone') || 'N/A'); } })() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        48,
        16
      ],
      "id": "26bb2a65-e226-4043-b255-b08ba835d460",
      "name": "Escalar_humano",
      "webhookId": "d045a8c1-ec1b-4d20-8226-457aa18934af",
      "disabled": true
    },
    {
      "parameters": {
        "description": "Use para refletir sobre operações complexas antes/depois de executá-las. Útil para planejar a melhor abordagem antes de chamar ferramentas."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        48,
        208
      ],
      "id": "539aa4bc-df1b-43d9-a64f-498abf0f3e23",
      "name": "Refletir"
    },
    {
      "parameters": {
        "jsCode": "const agentData = $input.first().json;\nconst originalData = $('Preparar Contexto').first().json || {};\n\nreturn {\n  ...originalData,\n  output: agentData.output || '',\n  resposta: (agentData.output || '').trim()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -1200
      ],
      "id": "ef6c2d1a-86a5-471b-837a-8c258a441e36",
      "name": "Preparar Resposta Agente"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet cleaned = (data.resposta || data.output || '')\n  .replace(/\\*\\*/g, '*')\n  .replace(/#/g, '')\n  .replace(/[\\u{1F300}-\\u{1F9FF}]/gu, '')\n  .replace(/\\\\n/g, '\\n')\n  .trim();\n\nif (!cleaned) {\n  cleaned = 'Desculpe, não consegui processar sua mensagem. Pode repetir?';\n}\n\nreturn {\n  ...data,\n  resposta: cleaned\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -1200
      ],
      "id": "a2392281-61dc-45d6-8f14-0f43897c015e",
      "name": "Formatar Resposta"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($json.BaseUrl || '').toString() }}/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "={{ ($json.token || '').toString() }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ ($json.wa_chatid || '').toString() }}"
            },
            {
              "name": "text",
              "value": "={{ ($json.resposta || '').toString() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        848,
        -1200
      ],
      "id": "fe5ceed1-d8e2-4b08-a331-3c81bead4c67",
      "name": "Enviar Mensagem",
      "alwaysOutputData": true,
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar_agendamento_clinicorp": {
      "ai_tool": [
        [
          {
            "node": "Agente Lis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "Verificar Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Áudio": {
      "main": [
        [
          {
            "node": "Baixar Áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filtrar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Áudio": {
      "main": [
        [
          {
            "node": "Baixar Arquivo Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Arquivo Audio": {
      "main": [
        [
          {
            "node": "Transcrever Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever Whisper": {
      "main": [
        [
          {
            "node": "Aplicar Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar Transcrição": {
      "main": [
        [
          {
            "node": "Filtrar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagens": {
      "main": [
        [
          {
            "node": "Buscar Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Histórico": {
      "main": [
        [
          {
            "node": "Preparar Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Histórico": {
      "main": [
        [
          {
            "node": "Buscar RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar RAG Context": {
      "main": [
        [
          {
            "node": "Preparar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto": {
      "main": [
        [
          {
            "node": "Agente Lis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Lis": {
      "main": [
        [
          {
            "node": "Preparar Resposta Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Resposta Agente": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [
          {
            "node": "Enviar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Lis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente Lis",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_profissionais_disponiveis": {
      "ai_tool": [
        [
          {
            "node": "Agente Lis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_agendas_disponiveis": {
      "ai_tool": [
        [
          {
            "node": "Agente Lis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar_agendamento_local": {
      "ai_tool": [
        [
          {
            "node": "Agente Lis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sincronizar_agenda": {
      "ai_tool": [
        [
          {
            "node": "Agente Lis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_eventos_agenda": {
      "ai_tool": [
        [
          {
            "node": "Agente Lis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_agendamentos_paciente": {
      "ai_tool": [
        [
          {
            "node": "Agente Lis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Salvar_nome_paciente": {
      "ai_tool": [
        [
          {
            "node": "Agente Lis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar_paciente_clinicorp": {
      "ai_tool": [
        [
          {
            "node": "Agente Lis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Agente Lis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f566a990-78ee-461a-be96-dd4526809522",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6261c20191d6dffb44c21782a91eb32d9e143bf78678887b146474f6dfe3fefc"
  },
  "id": "Jee1qMByBlgiWPHV",
  "tags": []
}